[Unit]
Description=Manage Frontend Kafka Connector service

[Service]
WorkingDirectory=/home/dom/.java_services/workspace
ExecStart=/usr/lib/jvm/default-java/bin/java -jar /home/dom/.java_services/kafka-frontend-connector.jar
User=dom
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
